@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mathew Augusthy's Awesome Website</h1>
    <p class="lead"> "What can brown do for you?" is Mathew's motto. By day he's a financial analyst and at night he's working on becoming a C# coder.</p>
    <p><a href="https://www.linkedin.com/in/mathewaugusthy/" class="btn btn-primary btn-lg">Mathew's Linked in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Career and Background</h2>
        <p>
            Please take a look at Mathews Resume: He's worked very hard on it
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Out Matt's Github</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Matt's HomeTown</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>